.center-container
{
	display: table;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.center-wrapper
{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
/* plays list begin */
.plays-list
{
	font-family: 'endzone-bold';
	font-size: 12px;
	color: #333;
	border-bottom: 1px solid #ccc;
}
.plays-list .list-title
{
	height: 32px;
	line-height: 32px;
	padding-left: 15px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}
.plays-list .list-title.year-title
{
	color: #fff;
	border: 1px solid #757575;
	background-color: #757575;
}
.plays-list .list-title.quarter-title
{
	padding-left: 95px;
	border: 1px dotted #ccc;
}
.plays-list .list-item
{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fff;
	padding-right: 20px;
	width: 100%;
}
.plays-list .list-item + .list-item
{
	border-top: 1px solid #ccc;
}
.plays-list .list-team-logo
{
	width: 80px;
	min-width: 80px;
	padding: 0;
}
.plays-list .team-logo
{
	width: 80%;
}
.plays-list .team-logo,
.plays-list .type-icon
{
	margin: 0 auto;
	display: block;
}
.plays-list .plays-type-icon
{
	width: 40px;
}
.plays-list .plays-info
{
	padding: 15px;
}
.plays-list .plays-title,
.plays-list .plays-duration
{
	font-size: 12px;
	display: inline-block;
}
.plays-list .plays-divider
{
	padding: 0 6px;
	color: #d5d5d5;
}
.plays-list .plays-title-wrapper
{
}
.plays-list .plays-status
{
	width: 88px;
	font-size: 0;
}
.plays-list .plays-playing
{
	text-align: right;
	width: 100%;
	min-width: 85px;
	color: #d50a0a;
	display: none;
}
.plays-list .is-playing .plays-playing
{
	display: block;
	font-size: 12px;
	white-space:nowrap;
	text-align: center;
}
.plays-list .plays-desc
{
	font-family: 'endzone-light';
	font-size: 14px;
}
.plays-list .plays-watch
{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}
.plays-list .center-wrapper.plays-status.no-coach .plays-watch
{
	width: 100%;
}
.plays-list .plays-watch img
{
	width: 24px;
	height: 24px;
}
.plays-list .is-playing .plays-watch
{
	display: none;
}
.plays-list .watch-type
{
	padding: 12px;
	width: 22px;
}
/*
mini player*/
.player-wrapper .hint,
.player-wrapper .player-info
{
	display: none;
}
.player-wrapper.active-fix
{
	background: #fff;
	position: fixed!important;
	overflow: hidden;
	height: 162px;
	z-index: 11;
	width: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
}
.player-wrapper.active-fix .player-container,
.player-wrapper.active-fix #playersContainer
{
	width: 288px;
	height: 162px;
	min-height: 162px;
	float: left;
	overflow: hidden;
}
.channel-section .player-wrapper.active-fix .player-container > video,
.video-detail .player-wrapper.active-fix .player-container > video
{
	display: block;
}
.player-wrapper.active-fix .hint
{
	position: absolute;
	top: 0;
	left: 0;
	color: #d50a0a;
	font-size: 12px;
	padding: 0 10px;
	line-height: 28px;
	text-align: center;
	font-family: "endzone-bold", "sans-serif";
	display: block;
	background: #fff;
	z-index: 10;
}
.player-wrapper.active-fix .player-info
{
	float: right;
	width: calc(100% - 288px);
	display: table;
	height: 100%;
	color: #333;
	padding: 0 15px;
}
.player-wrapper.active-fix .player-info .desc
{
	display: table-cell;
	width: calc(100% - 45px);
	vertical-align: middle;
}
.player-wrapper.active-fix .player-info .desc .sub-name
{
	font-family: 'endzone-bold';
}
.video-detail .player-wrapper.active-fix .player-info .desc .sub-name
{
	text-transform: uppercase;
}
.player-wrapper.active-fix .player-info .desc .name
{
	font-size: 24px;
}
.player-wrapper.active-fix .player-info .goto-top
{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
}
.player-wrapper.active-fix .player-info .goto-top .icon-top
{
	background-image: url(../images/icon-top.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 11px;
	height: 16px;
	vertical-align: bottom;
	margin-right: 5px;
}
.player-wrapper.active-fix .player-info .goto-top .text
{
	font-size: 12px;
	color: #1b48e0;
	font-family: 'endzone-medium';
}
@media (max-width: 480px)
{
	.plays-list .list-title.quarter-title
	{
		padding-left: 15px;
	}
	.plays-list .list-item
	{
		padding-right: 0;
	}
	.plays-list .list-team-logo,
	.plays-list .plays-type-icon
	{
		vertical-align: top;
	}
	.plays-list .plays-info
	{
		padding-left: 0;
		display: block;
	}
	.plays-list .plays-type-icon
	{
		display: none;
	}
	.plays-list .plays-status
	{
		display: block;
		padding: 6px 0 16px;
	}
	.plays-list .plays-playing
	{
		text-align: left;
	}
	.plays-list .plays-watch
	{
		padding: 0;
		text-align: left;
	}
}
/* plays list end */
/* fav teams start*/
.fav-team-container
{
	margin-bottom: 44px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fav-team-container *
{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.fav-team-container ul
{
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.fav-team-container li
{
	width: 100%;
	min-height: 66px;
	font-size: 0;
	cursor: pointer;
	background-color: #ffffff;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
}
.fav-team-container li:last-child
{
	margin-bottom: 0;
}
.fav-team-container li.fav-team
{
	background-color: #f3f3f3;
}
.fav-team-container li > div
{
	display: inline-block;
	vertical-align: middle;
}
.fav-team-container .team-logo
{
	width: 68px;
	height: 68px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}
.fav-team-container .team-info
{
	box-sizing: border-box;
	width: calc(100% - 68px - 58px - 5px);
	padding-left: 5px;
	font-size: 20px;
}
.fav-team-container .fav-icon
{
	margin: 0 17px;
}
.fav-team-container .team-btn
{
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #1d4ae0;
}
.fav-team-container .team-btn:before,
.fav-team-container .team-btn:after
{
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 2px;
	background: #fff;
	border-radius: 1px;
	transition: 0.2s ease;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
.fav-team-container .team-btn:before
{
	-webkit-transform: rotate(-90deg) translate(-50%, -50%);
	-moz-transform: rotate(-90deg) translate(-50%, -50%);
	-ms-transform: rotate(-90deg) translate(-50%, -50%);
	-o-transform: rotate(-90deg) translate(-50%, -50%);
	transform: rotate(-90deg) translate(-50%, -50%);
}
.fav-team-container .team-btn:after
{
	-webkit-transform: rotate(90deg) translate(-50%, -50%);
	-moz-transform: rotate(90deg) translate(-50%, -50%);
	-ms-transform: rotate(90deg) translate(-50%, -50%);
	-o-transform: rotate(90deg) translate(-50%, -50%);
	transform: rotate(90deg) translate(-50%, -50%);
}
.fav-team-container .fav-team .team-btn:before,
.fav-team-container .fav-team .team-btn:after,
.fav-team-container .team-btn span
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.fav-team-container .team-btn span
{
	display: inline-block;
	width: 50%;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgb(255, 255, 255);
}
.fav-team-container .team-header
{
	font-size: 0;
	padding-top: 64px;
	padding-bottom: 33px;
}
.fav-team-container .team-header > div:first-child, .fav-team-container .team-header > div:last-child
{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	width: 50%;
}
.fav-team-container .team-header > div:first-child
{
	text-align: left;
	font-family: "endzone-bold", "sans-serif";
}
.fav-team-container .team-header > div:last-child
{
	text-align: right;
	font-family: "endzone-bold", "sans-serif";
}
.fav-team-container .team-header .save-change
{
	color: #1b47e1;
	font-family: "endzone-medium", "sans-serif";
}
.fav-team .fav-team-container-header
{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 22px;
}
.min-fav-team
{
	position: absolute;
	top: 112px;
	left: 50%;
	z-index: 4;
	width: 400px;
	overflow: hidden;
	background-color: #efefef;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.min-fav-team.fav-team-container .team-header
{
	height: 68px;
	line-height: 68px;
	padding: 0 15px;
	background-color: #ffffff;
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.min-fav-team .team-list-title
{
	text-align: center;
	padding: 10px 0;
}
.min-fav-team .fav-team-content > div
{
	padding: 15px;
}
.min-fav-team .scrollerContainer
{
	position: relative;
	overflow: hidden;
	height: 340px;
	padding: 0!important;
	margin: 15px 0;
}
.min-fav-team .scrollerContainer .content
{
	position: absolute;
	width: 90%;
	margin: 0 5%;
	left: 0;
}
.min-fav-team.fav-team-container .team-header > div:first-child
{
	width: 75%;
}
.min-fav-team.fav-team-container .team-header > div:last-child
{
	width: 25%;
	font-size: 14px;
	font-family: "endzone-light", "sans-serif";
}
.min-fav-team .fav-team-content ul
{
	overflow: hidden;
}
.min-fav-team .team-footer
{
	height: 56px;
	width: 100%;
	text-align: center;
	line-height: 56px;
	background-color: #2751e2;
	margin-top: 10px;
	-moz-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}
.min-fav-team .team-footer a
{
	display: inline-block;
	width: 100%;
	padding: 0 20px;
	color: #effbff;
	font-family: "endzone-bold", "sans-serif";
}
.fav-team-mask
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 1;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 0.4s ease-in-out;
	z-index: 3;
}
@media (max-width: 767px)
{
	.min-fav-team
	{
		width: 90%;
	}
	.fav-team-container .team-header > div, .fav-team-container .team-header > a
	{
		font-size: 16px;
	}
	.fav-team-container .team-info
	{
		font-size: 14px;
	}
	.fav-team-container .action-stats
	{
		width: 80%;
	}
}
/* fav teams end*/
/* Tip style begin */
.tip-container
{
	font-family: 'endzone-light';
	font-size: 12px;
	color: #fff;
	height: 56px;
	width: 288px;
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
	z-index: 11;
	background-color: #333;
	padding: 0 10px;
	margin: 0 auto;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
	display: none;
}
.tip-container .left-icon
{
	width: 30px;
}
.tip-container .tip-checked
{
	width: 24px;
	height: 24px;
}
.tip-container .right-link
{
	width: 100px;
}
.tip-container .tip-link
{
	color: #fff;
	float: right;
	clear: right;
	padding: 10px 0;
}
@media (min-width: 480px)
{
	.tip-container
	{
		width: 448px;
		padding: 0 20px;
	}
}
@media (min-width: 767px)
{
	.tip-container
	{
		width: 652px;
		padding: 0 40px;
		font-size: 16px;
	}
	.tip-container .left-icon
	{
		width: 40px;
	}
	.tip-container .right-link
	{
		width: 200px;
	}
}
@media (min-width: 1024px)
{
	.tip-container
	{
		width: 828px;
	}
}
@media (min-width: 1280px)
{
	.tip-container
	{
		width: 1024px;
	}
}
/* Tip style end */
.loading
{
	display: none;
	position: relative;
	font-size: 10px;
	width: 100px;
	height: 100px;
	margin: 20px auto;
	border-radius: 50%;
	background: -moz-linear-gradient(left, #696969 10%, rgba(169,169,169, 0) 42%);
	background: -webkit-linear-gradient(left, #696969 10%, rgba(169,169,169, 0) 42%);
	background: -o-linear-gradient(left, #696969 10%, rgba(169,169,169, 0) 42%);
	background: -ms-linear-gradient(left, #696969 10%, rgba(169,169,169, 0) 42%);
	background: linear-gradient(to right, #696969 10%, rgba(169,169,169, 0) 42%);
	-webkit-animation: loading 1.4s infinite linear;
	-o-animation: loading 1.4s infinite linear;
	-moz-animation: loading 1.4s infinite linear;
	animation: loading 1.4s infinite linear;
}
.loading:before
{
	width: 50%;
	height: 50%;
	background: #696969;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loading:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #eee;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	margin: auto;
}
@-webkit-keyframes loading
{
	0%
	{
		transform:rotate(0deg)
	}
	100%
	{
		transform:rotate(360deg)
	}
}
@-moz-keyframes loading
{
	0%
	{
		transform:rotate(0deg)
	}
	100%
	{
		transform:rotate(360deg)
	}
}
@-ms-keyframes loading
{
	0%
	{
		transform:rotate(0deg)
	}
	100%
	{
		transform:rotate(360deg)
	}
}
@-o-keyframes loading
{
	0%   {
		transform:rotate(0deg)
	}
	100%
	{
		transform:rotate(360deg)
	}
}
@keyframes loading
{
	0%
	{
		transform:rotate(0deg)
	}
	100%
	{
		transform:rotate(360deg)
	}
}
body.lang-es_ES .plays-list .plays-status,
body.lang-pt_BR .plays-list .plays-status
{
	min-width: 145px;
}
body.lang-es_ES .fav-team-container .team-header > div:first-child,
body.lang-pt_BR .fav-team-container .team-header > div:first-child
{
	font-size: 14px;
}
body.lang-ja_JP .fav-team-container .team-header > div:first-child
{
	font-size: 10px;
}