#mexContainer
{
	width:100%;
	max-width:1280px;
	margin:auto;
	background-image:url(../../../../../../../../index.html);
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
}
#mexContainer #mexBanner
{
	margin:auto;
	height:100px;
	display:table;
}
#mexContainer #mexLogo
{
	display:table-cell;
	vertical-align:middle;
	padding-left:10px;
}
#mexContainer #mexText
{
	display:table-cell;
	vertical-align:middle;
	color:#FFFFFF;
	font-family:'endzone-bold';
	font-size:22px;
	padding:0px 30px;
}
#mexContainer div.desc
{
	padding-top:8px;
	font-size:14px;
}
#mexContainer div.desc a
{
	text-decoration:underline;
	color:#FFFFFF;
}
@media (max-width:730px)
{
	#mexContainer #mexText
	{
		font-size:18px;
	}
	#mexContainer div.desc
	{
		padding-top:4px;
		font-size:12px;
	}
}
#lowpriceContainer
{
	width:100%;
	max-width:1280px;
	height:94px;
	margin:auto;
	background-image:url(../../../../../../../../index.html);
	background-repeat:no-repeat;
	background-position:right center;
	color:#192743;
	font-family:'endzone-bold';
}
#lowpriceContainer div
{
	font-size:55px;
	padding-left:150px;
	line-height:94px;
}
@media (max-width:1240px){#lowpriceContainer div{padding-left:100px;font-size:40px;}}
@media (max-width:1175px){#lowpriceContainer div{padding-left:50px;}}
@media (max-width:940px){#lowpriceContainer div{padding-left:20px;font-size:35px;}}
@media (max-width:870px){#lowpriceContainer div{padding-left:150px;font-size:40px;} #lowpriceContainer{background-position:left center;}}
@media (max-width:550px){#lowpriceContainer div{padding-left:20px;font-size:35px;} #lowpriceContainer{background-position:center center;}}
@media (max-width:460px){#lowpriceContainer div{font-size:25px;}}
@media (max-width:470px)
{
	#mexContainer #mexText
	{
		font-size:14px;
	}
	#mexContainer div.desc
	{
		padding-top:2px;
		font-size:10px;
	}
}
#packagesContent #heroContainer
{
	height:400px !important;
	text-align:center;
	position: relative;
}
#packagesContent #heroContainer #heroContent
{
	display:inline-block;
	margin:auto;
	margin-top:100px !important;
	color:#FFFFFF;
	font-size:18px;
	font-family:'endzone-medium';
	position: relative;
}
#heroContent h1
{
	font-family:'endzone-bold';
	font-size:48px;
}
#heroContent div.desc
{
	padding:20px;
}
#heroContent .btn
{
	margin:auto;
}
@media (max-width:360px)
{
	#packagesContent #heroContainer
	{
		height:720px;
		text-align:center;
	}
}
#packagesContent #packagesContainerOuter
{
	width:100%;
	max-width:1280px;
	margin: 0px auto auto auto;
	padding:0px 32px;
	position: relative;
}
#packagesContent #packagesContainerInner
{
	background-color:#FFFFFF;
	width:100%;
	box-shadow:0px 3px 5px 2px #CCCCCC;
}
#currencySelectorContainer
{
	position:relative;
}
#currencySelector
{
	position:absolute;
	padding:10px;
	margin:auto;
	right:0px;
	top:-60px;
}
#packagesContent div.package
{
	border-bottom:1px solid #EEEEEE;
	padding:20px;
	font-family:'endzone-light';
	font-size:14px;
	color: #000;
}
input.pkgradio
{
	display:none;
}
div.packageOptions label
{
	cursor:pointer;
}
div.packageOptions label div.radiobtn
{
	background-image:url(../images/packages/radio.png);
	background-repeat:no-repeat;
	background-position:left center;
	height:32px;
	display:inline-block !important;
	padding:0px 0px 0px 42px !important;
	line-height:32px;
}
input.pkgradio:checked + label div.radiobtn
{
	background-image:url(../images/packages/radio_s.png);
}
#packagesContent div.package div.packageName
{
	width:50%;
	display:inline-block;
	vertical-align:middle;
}
#packagesContent div.package div.packageOptions, #packagesContent div.package div.packagePrice
{
	width:24%;
	display:inline-block;
	vertical-align:middle;
}
#packagesContent div.package div.packagePrice
{
	text-align:center;
}
#packagesContent div.package:before
{
	content:"";
	display:inline-block;
	vertical-align: middle;
	height:100%;
}
#packagesContent div.package div.packageName h2
{
	font-family:'endzone-bold';
	font-size:24px;
	color:#333333;
	padding-bottom:20px;
	text-transform:uppercase;
}
#packagesContent div.package div.avail
{
	font-family:'endzone-medium';
	padding-top:5px;
}
#packagesContent div.package div.packageOptions
{
	color:#333333;
}
#packagesContent div.package div.packageOptions div
{
	padding:10px 0px;
}
#teamSelect
{
	padding:10px;
	margin:15px 0px;
}
#packagesContent div.package div.packagePriceAmount
{
	font-family:'endzone-medium';
	font-size:20px;
	color:#1B48E0;
	padding-bottom:10px;
}
div.packagePriceAmount span
{
	font-size:14px;
}
#packagesContent div.package .btn
{
	margin:auto;
}
@media (max-width:1023px)
{
	#packagesContent div.package div.packageName
	{
		width:auto;
		display:block;
		text-align:center;
	}
	#packagesContent div.package div.packageOptions, #packagesContent div.package div.packagePrice
	{
		width:auto;
		display:block;
		text-align:center;
	}
	#packagesContent div.package div.packageOptions div
	{
		display:inline-block;
		padding:20px;
	}
}
@media (max-width:767px)
{
	#packagesContent div.package div.packageOptions
	{
		padding:10px 0px;
	}
	#packagesContent div.package div.packageOptions div
	{
		display:block;
		padding:10px 0px;
	}
}
#packagesContent .featuresContainer
{
	width:100%;
	max-width:1280px;
	margin:auto;
	padding:60px 32px;
}
#packagesContent .featuresContainer div.feature
{
	padding:15px 0px;
	font-family:'endzone-light';
	font-size:16px;
	color:#000;
}
#packagesContent .featuresContainer div.feature h2
{
	font-family:'endzone-bold';
	font-size:40px;
	color:#333333;
}
#packagesContent .featuresContainer div.feature div.desc
{
	padding:20px 0px;
}
#packagesContent .featuresContainer div.feature.middle
{
	text-align:center;
}
#packagesContent .featuresContainer div.feature div.text
{
	display:inline-block;
	width:45%;
	vertical-align: middle;
}
#packagesContent .featuresContainer div.feature:before
{
	content:"";
	display:inline-block;
	vertical-align: middle;
	height:100%;
}
#packagesContent .featuresContainer div.feature div.img
{
	width:54%;
	display:inline-block;
	vertical-align: middle;
}
#packagesContent #dtvContainer
{
	background-color:#333333;
	color:#FFFFFF;
	padding:10px;
	text-align:center;
}
#packagesContent #dtvContainer span
{
	color:#6885EA;
	font-weight:bold;
}
@media (max-width:1216px)
{
	#packagesContent .featuresContainer div.feature div.img img
	{
		width:100%;
	}
}
@media (max-width:1023px)
{
	#packagesContent .featuresContainer div.feature
	{
		padding:20px 0px;
	}
	#packagesContent .featuresContainer div.feature div.img
	{
		display:none;
	}
	#packagesContent .featuresContainer div.feature div.text
	{
		width:auto;
		display:block;
		text-align:center;
	}
	#packagesContent div.feature .btn
	{
		margin:auto;
	}
}
#packagesContent #featureTilesContainer
{
	width:100%;
	max-width:1280px;
	margin:auto;
	padding:75px 32px;
}
#packagesContent #featureTilesContainer div.featureTile
{
	width:301px;
	padding-right:9px;
	float: left;
}
#packagesContent #featureTilesContainer div.featureTile.last
{
	display:inline-block;
	width:292px;
	padding-right:0px;
}
#packagesContent div.featureTile div.img
{
	width:100%;
	height:164px;
	background-repeat:no-repeat;
	background-position:center center;
}
#featureTileCoach
{
	background-image:url(../images/packages/img_1.png);
	background-size: 100% 100%;
}
#featureTileCondensed
{
	background-image:url(../images/packages/img_2.png);
	background-size: 100% 100%;
}
#featureTileDownload
{
	background-image:url(../images/packages/img_3.png);
	background-size: 100% 100%;
}
#featureTileSearch
{
	background-image:url(../images/packages/img_4.png);
	background-size: 100% 100%;
}
#featureTileAudio
{
	background-image:url(../../../../../../../../index.html);
}
#packagesContent div.featureTile div.text
{
	min-height: 135px;
	background-color:#FF0000;
	font-family:'endzone-light';
	font-size:14px;
	color:#fff;
	padding:15px;
	box-shadow:0px 1px 3px 1px #CCCCCC;
}
.lang-es_ES #packagesContent div.featureTile div.text
{
	min-height: 159px;
}
.lang-ja_JP #packagesContent div.featureTile div.text
{
	min-height: 189px;
}
.lang-ko_KR #packagesContent div.featureTile div.text
{
	min-height: 174px;
}
.lang-pt_BR #packagesContent div.featureTile div.text
{
	min-height: 167px;
}
#packagesContent div.featureTile div.text h2
{
	font-family:'endzone-bold';
	font-size:20px;
	color:#fff;
	padding-bottom:15px;
}
@media (max-width:1296px)
{
	#packagesContent #featureTilesContainer
	{
		max-width:756px;
	}
	#featureTileCoach
	{
		background-image:url(../images/packages/img_1.png);
	}
	#featureTileCondensed
	{
		background-image:url(../images/packages/img_2.png);
	}
	#featureTileDownload
	{
		background-image:url(../images/packages/img_3.png);
	}
	#featureTileSearch
	{
		background-image:url(../images/packages/img_4.png);
	}
	#featureTileAudio
	{
		background-image:url(../../../../../../../../index.html);
	}
	#packagesContent #featureTilesContainer div.featureTile
	{
		width:344px;
		padding:8px;
	}
	#packagesContent div.featureTile div.img
	{
		width:100%;
		height:184px;
		background-repeat:no-repeat;
		background-position:center center;
	}
	#packagesContent div.featureTile div.text
	{
		padding:15px 33px;
	}
}
@media (max-width:772px)
{
	#packagesContent #featureTilesContainer
	{
		max-width:auto;
		text-align:center;
	}
	#packagesContent #featureTilesContainer div.featureTile
	{
		float: none;
		margin: 0 auto;
	}
}
@media (max-width:408px)
{
	#packagesContent #featureTilesContainer
	{
		padding:0px;
	}
	#packagesContent #featureTilesContainer div.featureTile
	{
		width:328px;
		padding:8px 0px;
	}
}
#packagesContent #devicesContainer
{
	width:100%;
	max-width:1280px;
	margin:auto;
	text-align:center;
	font-family:'endzone-light';
	font-size:16px;
	color:#757575;
	padding:30px;
}
#packagesContent #devicesContainer div.break
{
	width:100%;
	padding-bottom:30px;
	border-top:1px solid #CCCCCC;
}
#packagesContent #devicesContainer h1
{
	font-family:'endzone-bold';
	font-size:40px;
	color:#333333;
}
#packagesContent #devicesContainer div.desc
{
	padding:40px;
	max-width:640px;
	margin:auto;
}
#devicesImg
{
	background-image:url(../images/packages/devices.png);
	background-repeat:no-repeat;
	width:687px;
	height:385px;
	margin:10px auto;
	background-size: 100% 100%;
}
#packagesContent #appStoresContainer img
{
	margin:10px 10px 20px 10px;
}
#packagesContent #platformsContainer img
{
	margin:auto 5px;
	padding-top:5px;
}
@media (max-width:819px)
{
	#devicesImg
	{
		background-image:url(../images/packages/devices.png);
		width:328px;
		height:184px;
	}
	#packagesContent #platformsContainer
	{
		max-width:370px;
		margin:auto;
	}
	#packagesContent #platformsContainer img
	{
		margin:5px 5px 10px 5px;
	}



	#packagesContent #heroContainer #heroContent {
		font-size: 14px;
		margin-top: 30px !important;
	}

	#heroContent h1 {
	    font-size: 25px;
	}

	#packagesContent #heroContainer {
	     height: auto !important; 
	}

}
@media (max-width:404px)
{
	#devicesImg
	{
		width:100%;
		background-size:100%;
	}

	#packagesContent #heroContainer #heroContent {
		font-size: 14px;
		margin-top: 45px !important;
		margin-bottom: 45px;
	}

	#heroContent h1 {
	    font-size: 25px;
	}

	#heroContent div.desc {
	    display: none;
	}

	#packagesContent #heroContainer {
	     height: auto !important; 
	}
}
#packagesContent #disclaimerContainer
{
	width:100%;
	max-width:1280px;
	padding:20px 32px 40px 32px;
	margin:auto;
}
#packagesContent #disclaimerContainer #disclaimer
{
	font-family:'endzone-light';
	font-size:14px;
	color:#757575;
}
#heroVideo
{
	width: 100%;
	height: auto;
	max-width: 1280px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.video-wrap
{
	background-position: center top;
	background-repeat: no-repeat;
	width: auto;
	height: auto;
	min-width: 100%;
	max-height: 450px;
    overflow: hidden;
}
#heroVideo .mask
{
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	/*background: rgba(0,0,0,0.5);*/
}
#blackoutCheck
{
	width: 100%;
	max-width: 1280px;
	margin: 40px auto 0;
	padding: 0 32px;
}
#blackoutCheck .blackoutCheck
{
	padding: 40px 0 0;
	border-top: 1px solid #CCCCCC;
}
#blackoutCheck .blackout-game-content
{
	overflow: hidden;
}
#blackoutCheck .blackout-game-content .content
{
	float: left;
	width: calc(100% - 134px);
}
#blackoutCheck .blackout-game-content .content h2
{
	font-family: 'endzone-bold';
	font-size: 24px;
	padding-bottom: 10px;
}
#blackoutCheck .blackout-game-content .content .sub-name
{
	color: #757575;
	display: block;
}
#blackoutCheck .blackout-game-logos
{
	display: table;
	font-family: 'endzone-medium';
	margin: 10px 0 10px;
}
#blackoutCheck .blackout-game-logos .title
{
	display: table-cell;
	vertical-align: middle;
	padding-right: 28px;
	color: #000;
}
#blackoutCheck .blackout-game-logos .logos
{
	display: table-cell;
	vertical-align: middle;
	padding-right: 28px;
}
#blackoutCheck .blackout-game-logos .logos span
{
	display: inline-block;
	padding: 0 5px;
	max-width: 98px;
}
#blackoutCheck .blackout-game-logos .logos span img
{
	width: 200px;
}
#blackoutCheck .links
{
	font-family: 'endzone-medium';
	color: #1B48E0;
	padding-bottom:30px;
}
#blackoutCheck .links:hover
{
	text-decoration: underline;
}
#blackoutCheck .blackout-game-content .expand
{
	float: right;
	position: relative;
	cursor: pointer;
}
#blackoutCheck .blackout-game-content .expand .text
{
	display: inline-block;
	margin-right: 30px;
	font-family: 'endzone-bold';
	font-size: 12px;
}
#blackoutCheck .blackout-game-content .expand .icon
{
	background: url(https://neulionms-a.akamaihd.net/nfl/gamepass/v2/nflgp/site_4/images/packages/arrow_down.svg) no-repeat;
	width: 13px;
	height: 8px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); 	/* IE 9 */
	-moz-transform: translateY(-50%); 	/* Firefox */
	-webkit-transform: translateY(-50%); /* Safari å’Œ Chrome */
	-o-transform: translateY(-50%); 	/* Opera */
}
#blackoutCheck .blackout-game-content .expand.open .icon
{
	transform: rotate(180deg);
	margin-top: -3px;
}
#blackoutCheck .blackout-game-list
{
	margin-top: 10px;
	display: none;
}
#blackoutCheck .blackout-game-list li
{
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
}
#blackoutCheck .blackout-game-list li span
{
	padding: 0;
}
#blackoutCheck .blackout-game-list .title
{
	font-family: 'endzone-bold';
	font-size: 12px;
	padding-bottom: 10px;
}
#blackoutCheck .blackout-game-list li.info
{
	padding: 20px 0;
	font-family: 'endzone-medium';
}
#blackoutCheck .blackout-game-list li.info.nogames
{
	font-size: 16px;
	text-align: center;
	padding: 45px 0;
	font-family: 'endzone-light';
}
@media (max-width: 1023px)
{
	#blackoutCheck .blackout-game-logos
	{
		display: block;
	}
	#blackoutCheck .blackout-game-logos .title
	{
		display: block;
		padding-right: 0;
		padding-top: 20px;
	}
	#blackoutCheck .blackout-game-logos .logos
	{
		display: block;
		padding-right: 0;
		padding-top: 10px;
	}
}
@media (max-width: 767px)
{
	#blackoutCheck .blackout-game-logos .logos span
	{
		width: -moz-calc(100% / 5);
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
	#blackoutCheck .blackout-game-content .content
	{
		width: calc(100% - 23px);
	}
	#blackoutCheck .blackout-game-content .expand
	{
		width: 13px;
		height: 32px;
		padding: 0 5px;
		box-sizing: content-box;
	}
	#blackoutCheck .blackout-game-content .expand .icon
	{
		right: 5px;
	}
	#blackoutCheck .blackout-game-list
	{
		border-top: 1px solid #ccc;
	}
	#blackoutCheck .blackout-game-list li.info .date,
	#blackoutCheck .blackout-game-list li.info .home,
	#blackoutCheck .blackout-game-list li.info.liveevent .team
	{
		padding-bottom: 10px;
	}
	.video-wrap
	{
		background-position: 80% top;
	}
}
@media (max-width: 360px)
{
	.video-wrap
	{
		background-image: url(../../../../../../../../index.html);
	}
}
@media (min-width: 361px)
{
	.video-wrap
	{
		background-image: url(../images/packages/herobg.png);
		background-size: 100% 100%;
	}
}
div.packageName div.desc ul
{
	list-style-type:disc;
	padding-left:20px;
	margin:auto;
	text-align:left;
}
/* Home Page: Packages Start */
.promotion-wrap
{
	display: none;
	border-top: 1px solid #002f6b;
	text-align: center;
	background: #003469;
	padding: 12px 0;
}
.promotion__desc
{
	font-family: 'endzone-bold';
	font-size: 56px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.promotion-wrap .icon
{
	width: 136px;
	height: 23px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin: 0 25px;
}
.promotion-wrap .icon.icon--stars
{
	background-image: url(../images/packages/promotion_star.png);
}
.packages-wrap
{
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}
.packages-layout
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 -8px;
}
.package-pass
{
	width: calc((100% - 32px) / 2);
	padding: 16px;
	margin: 12px 8px 0;
	background: #fff;
	box-shadow: 0 3px 10px 0 #ccc;
	display: flex;
	flex-direction: column;
}
.package-header
{
	text-align: center;
}
.package__name
{
	font-family: 'endzone-bold';
	font-size: 24px;
	text-transform: uppercase;
	line-height: 24px;
}
.package__date
{
	font-size: 12px;
	height: 13px;
	display: block;
}
.package-body
{
	flex: auto;
	margin-top: 15px;
}
.package-item
{
	border-bottom: 1px solid #eee;
	padding: 12px 0;
}
.package-item:last-of-type
{
	border-bottom: none;
}
.package-item .icon
{
	display: block;
	width: 22px;
	height: 18px;
	margin: 0 15px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 22px 18px;
}
.package-item .icon.icon--yes
{
	background-image: url(https://neulionms-a.akamaihd.net/nfl/gamepass/v2/nflgp/site_4/images/packages/icon_yes.svg);
}
.package-item .icon.icon--no
{
	background-image: url(https://neulionms-a.akamaihd.net/nfl/gamepass/v2/nflgp/site_4/images/packages/icon_no.svg);
}
.package-item__item
{
	display: flex;
	line-height: 20px;
	margin-top: 5px;
	color: #757575;
}
.package-item__name
{
	font-family: 'endzone-bold';
	font-size: 16px;
	line-height: 20px;
	padding-left: 52px;
}
.package-item__desc
{
	font-family: 'endzone-medium';
}
#teamSelect.package__teams
{
	width: 100%;
	margin-top: 30px;
}
.package-footer
{
	text-align: center;
}
.package-buttons
{
	margin: 8px -6px;
	overflow: hidden;
}
.package-buttons .button
{
	width: 320px;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	background: #1b48e0;
	color: #fff;
	font-size: 18px;
	display: block;
	margin: 8px auto;
}
.package-buttons .button.button--free
{
	border: 1px solid #000;
	background: #fff;
	color: #000;
}
.package__price
{
	font-family: 'endzone-bold';
}
.price-unit
{
	font-family: endzone-bold;
	font-size: 14px;
}
.package__text--bold
{
	font-family: 'endzone-bold';
}
.package__hint
{
	font-family: 'endzone-medium';
	display: block;
	margin: 0px auto 16px;
	height: 15px;
}
.package-pass--SEASON
{
	order: 10;
}
.package-pass--TEAMARI
{
	order: 40;
}
.package-pass--WEEK
{
	order: 30;
}
.package-pass--VOD
{
	order: 20;
}
.package-pass--SUPERBOWL
{
	order: 50;
}
.package-pass--SUPERBOWL
{
	margin: 12px auto;
}
.is-unable
{
	color: #ccc;
}
@media (min-width: 1024px)and(max-width: 1279px)
{
	.package-buttons .button
	{
		width: 226px;
	}
}
@media (max-width: 1023px)
{
	.packages-layout
	{
		justify-content: center;
	}
	.promotion__desc
	{
		font-size: 48px;
	}
	.promotion-wrap .icon
	{
		width: 80px;
	}
	.package-pass
	{
		max-width: 634px;
		width: 100%;
	}
}
@media (max-width: 767px)
{
	.promotion__desc
	{
		font-size: 34px;
	}
	.promotion-wrap .icon
	{
		width: 24px;
		margin: 0 10px;
	}
}
@media (max-width: 483px)
{
	.promotion__desc
	{
		font-size: 26px;
	}
	.promotion-wrap .icon
	{
		display: none;
	}
}
/* Home Page: Packages End */

#heroVideo .overlay{
	background: rgba(0, 0, 0);
	opacity: 0.5;
	z-index: 0;
}